@font-face{
    font-family: "Bahnschrift";
    src: url("BAHNSCHRIFT.TTF");
}

h1, h2, h3, h4, h5, b, i, a, p, button, li{
    font-family: Bahnschrift;
}

h1, h2, h3, h4, h5, b, i, a, p{
    margin: 0%;
}

img{
    height: 100%;
    width: auto;
}

html{
    height: 100%;
    width: 100%;
}

#root{
    width: 100%;
    height: 100%;
}

body{
    margin: 0%;
    width: 100%;
    height: 100%;
}

.icon{
    color: white;
}

.app{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    width: 100%;
    height: 100%;

    min-width: 320px;
}

.header{
    height: 90px;
    min-height: 90px;
    background-color: #232323;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header h1{
    color: white;
    font-size: 45px;
    
    padding-top: 20px;
}

.header .icon{
   width: 75px;
   height: 65px;

   padding-top: 12.5px;
   padding-bottom: 12.5px;
   padding-left: 5px;
   padding-right: 5px;
}

.main{
    flex-grow: 1;
    width: 100%;
    min-height: 300px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar{
    height: 100%;
    width: 175px;
    min-width: 175px;

    background-color: #2d2d2d;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.navbar .navlink{
    font-size: 21px;
    font-weight: bold;
    border: none;
    text-decoration: none;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12.5px;

    background-color: #2d2d2d;
    color: white;

    transition-duration: 0.3s;
}

.navbar .navlink:hover{
    transition-duration: 0.3s;
    padding-left: 25px;
    background-color: #414141;
}

.navbar .navlink:active{
    transition-duration: 0s;
    padding-left: 25px;
    background-color: #5f5f5f;
}

.navbar .navlinkActive{
    background-color: #5f5f5f;
}

.contentContainer{
    flex-grow: 1;
    width: auto;

    padding: 20px;

    background-color: white;
}

.productList{
    width: 90%;
    height: 660px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
    padding-left: 30px;
    padding-top: 30px;

    overflow-y: auto;
}

.productCard a{
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;
    height: 100%;
}

.productList .productCard{
    width: 96%;
    min-width: 400px;
    height: auto;
    max-height: 200px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    background-color: #e3e3e3;
}

.productCard .imgDiv{
    height: 110px;
    width: 110px;
    padding: 10px;
}

.productCard img{
    height: 100px;
    width: 100px;
    margin-left: 5px;
    margin-top: 5px;
}

.productInfo{
    padding: 10px;
    white-space: pre-wrap;
    width: 100%;
}

.productPage{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    padding: 20px;
}

.productPage img{
    width: 200px;
    height: auto;
}

.productPage .productOverview{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.productPage .productOverview h1{
    font-size: 50px;
}

.productPage .productOverview h2{
    font-size: 35px;
}

.productPage .productInfo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.productPage .productDetails{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    gap: 10px;

    margin-top: 30px;
}

.detail{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
    height: 10%;
}

.detail .icon{
    height: 32px;
    width: 32px;
    color: black;
    margin-right: 5px;
}

.lineVert{
    background-color: black;
    width: 2px;
    height: 30px;
    margin-right: 5px;
    
    margin-top: 1px;
    margin-bottom: 1px;
}

.lineHor{
    background-color: #7d7d7d;
    width: 100%;
    height: 2px;
    border-radius: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
}

@media(max-width: 600px){
    .main{
        flex-direction: column;
    }

    .header{
        justify-content: center;
    }

    .header h1{
        padding-top: 28px;
        padding-left: 10px;
        font-size: 35px;
    }

    .header .icon{
        width: 55px;
        height: 55px;

        padding-top: 18px;
        padding-bottom: 12.5px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar{
        width: 100%;
        height: auto;
    }
}







